/* poppins-regular - latin */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #e5e5e5;
}

/* 基础布局 */

/* 移动端 */
@media (max-width: 47.999rem) {
  .container {
    display: block;
  }
  .container .sidebar-container {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: #e5e5e5;
  }
  .mobile-menu-btn {
    display: block; /* 移动端显示汉堡按钮 */
  }
  .content-container {
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    background-color: #e5e5e5;
  }
}

/* 平板适配 (768px+) */
@media (min-width: 48em) and (max-width: 63.999em) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
  }
  .container .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    flex: 0 0 10vw;
    width: 10vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .container .content-container {
    flex: 0 0 90vw;
    height: 100vh;
    width: 90vw;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
  }
}

/* PC适配 (1024px+) */
@media (min-width: 64em) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
  }
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    flex: 0 0 30vw;
    width: 30vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  .content-container {
    position: sticky;
    flex: 0 0 70vw;
    top: 0;
    margin-left: 30vw;
    width: 70vw;
    height: 100vh;
    padding-left: 0;
    z-index: 1;
  }
  .mobile-menu-btn {
    display: none; /* PC端隐藏汉堡按钮 */
  }
}

/* 切换内容区域显示 */
.content section {
  display: none;
}
.content section:target {
  display: block;
}

/* 内容区域布局*/
.content-container .content {
  background-color: #f7f7f7;
  width: 100%;
}

@media (min-width: 48em) and (max-width: 63.999em) {
  .content-container .content {
    position: sticky;
    top: 1em;
    width: 90%;
    height: 96vh;
  }
}

@media (min-width: 64em) {
  .content-container .content {
    position: absolute;
    top: 1em;
    width: 88%;
    min-width: 500px;
    left: 0;
    height: 96vh;
  }
}

/* 清除默认样式 */
.main-nav li {
  list-style: none;
}

/* 侧边栏具体样式 */
/* 移动端 */
.sidebar {
  position: sticky;
  top: 1em;
  height: 5em;
  transition: all 0.3s ease-out;
  overflow: hidden; /* 防止菜单未展开时文字先显示*/
  width: 100%;
}

.sidebar .profile {
  display: none;
}

.sidebar .main-nav {
  display: none;
}

.sidebar .mobile-menu-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5em;
}

.sidebar .mobile-menu-btn .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.sidebar .mobile-menu-btn .hamburger_munu {
  width: 3em;
}

/* 激活汉堡菜单 */
.mobile-menu-btn.active ~ .main-nav {
  display: flex;
}

.sidebar:has(.mobile-menu-btn.active) {
  height: 18em;
}

.theme-switcher {
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-sizing: border-box;
}

.theme-switcher > img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: none;
}

.theme-switcher .turnDark_switcher.active {
  display: block;
}

.theme-switcher .turnLight_switcher.active {
  display: block;
}

/* 导航菜单 */
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-list .menu-list {
  width: 100%;
}

.main-nav a {
  text-decoration: none;
}

.main-nav img {
  width: 2em;
  margin-right: 1em;
}

.main-nav ul {
  width: 100%;
}

.main-nav li {
  width: 100%;
}

.main-nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 100%;
  font-size: 1em;
  color: #000;
}

.main-nav .menu-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 6em;
}

/* 侧边栏布局 */
/* 移动端 */
.sidebar {
  background-color: #f7f7f7;
  width: 100%;
}

/* 侧边栏 —— 平板适配 */
@media (min-width: 48em) and (max-width: 63.999em) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 96vh;
    transition: none;
    overflow: visible;
    width: 100%;
  }
  .sidebar .mobile-menu-btn {
    display: none;
  }
  .sidebar .theme-switcher {
    position: static;
    display: flex;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .sidebar .theme-switcher img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }
  .sidebar .profile {
    display: flex;
    margin-bottom: 3em;
  }
  .sidebar .profile .intro {
    display: none;
  }
  .sidebar .profile img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }
  .sidebar .main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main-nav a.active {
    background-color: #0063f7;
  }
  .sidebar .main-nav .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
  }
  .sidebar .main-nav .menu-list .menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .sidebar .main-nav .menu-list .menu-content img {
    margin: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }
  .sidebar .main-nav .menu-list .menuName {
    display: none;
  }
}

/* 侧边栏-pc适配 */
@media (min-width: 64em) {
  .sidebar {
    position: absolute;
    top: 1em;
    left: 10vw;
    width: 18vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 96vh;
    transition: none;
    overflow: visible;
  }
  .sidebar .mobile-menu-btn {
    display: none;
  }
  .sidebar .theme-switcher {
    position: absolute;
    right: 1em;
    top: 1em;
    display: visible;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar .theme-switcher img {
    width: 2em;
    height: 2em;
  }
  .sidebar .profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2.5em;
  }
  .sidebar .profile img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
  }
  .sidebar .profile .intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5em;
    gap: 0.5em;
  }
  .sidebar .profile .intro .intro-myname {
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  .sidebar .profile .intro .intro-post {
    align-self: center;
    font-size: 1em;
    color: #707070;
  }
  .sidebar .profile .intro .intro-contact {
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
    gap: 0.4em;
    margin-left: 0.5em;
  }
  .sidebar .profile .intro .intro-contact .in-co-content {
    color: #343434;
  }
  .sidebar .profile .intro .intro-contact i {
    margin-right: 0.5em;
  }
  .sidebar .main-nav {
    display: flex;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
  }
  .main-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-nav a:hover {
    width: 90%;
    border-radius: 0.5em;
    background-color: #ededed;
  }
  .main-nav a.active {
    width: 90%;
    border-radius: 0.5em;
    background-color: #0063f7;
    color: #f7f7f7;
    font-weight: bold;
  }
}

.section-wrapper {
  box-sizing: border-box;
  padding: 1em;
  background-color: #f7f7f7;
  width: 100%;
}

/* 右侧内容区样式 */
/* Home样式 */
#home {
  width: 100%;
}
@media (max-width: 47.999em) {
  #home .greeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2em;
  }
  #home .greeting .greeting-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25em;
    width: 80%;
    font-weight: bold;
  }
  #home .greeting .greeting-left .greet {
    font-size: 1.5rem;
  }
  #home .greeting .greeting-left .myName {
    font-size: 2rem;
  }
  #home .greeting .greeting-left .post {
    font-size: 1.25rem;
    color: #3d3d3d;
    margin-top: 0.5em;
  }
  #home .greeting .greeting-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
  }
  #home .greeting .greeting-right img {
    width: 90%;
  }
  #home .selfIntro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    margin-top: 3em;
  }
  #home .selfIntro .selfIntro-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #home .selfIntro .selfIntro-left img {
    width: 90%;
  }
  #home .selfIntro .selfIntro-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 90%;
  }
  #home .selfIntro .selfIntro-right .aboutMe-title {
    font-size: 2em;
  }
  #home .hobby {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    margin-top: 3em;
    width: 100%;
  }
  #home .hobby .hobby-title {
    align-self: flex-start;
    margin-left: 5%;
    font-size: 2em;
  }
  #home .hobby .photo-card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #home .hobby .photo-card .photo {
    font-size: 1.5em;
  }
  #home .hobby .photo-card img {
    width: 100%;
  }
  #home .hobby .music-card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #home .hobby .music-card .music {
    align-self: flex-end;
    font-size: 1.5em;
  }
  #home .hobby .music-card img {
    width: 100%;
  }
  #home .hobby .music-card .statement {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  #home .hobby .game-card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #home .hobby .game-card .game {
    font-size: 1.5em;
  }
  #home .hobby .game-card .img {
    width: 100%;
  }
}

@media (min-width: 48em) and (max-width: 63.999em) {
  #home .greeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2em;
  }
  #home .greeting .greeting-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25em;
    width: 80%;
    font-weight: bold;
  }
  #home .greeting .greeting-left .greet {
    font-size: 1.75rem;
  }
  #home .greeting .greeting-left .myName {
    font-size: 2.5rem;
  }
  #home .greeting .greeting-left .post {
    font-size: 1.5rem;
    color: #3d3d3d;
  }
  #home .greeting .greeting-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
  }
  #home .greeting .greeting-right img {
    width: 90%;
  }
  #home .selfIntro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    margin-top: 3em;
  }
  #home .selfIntro .selfIntro-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #home .selfIntro .selfIntro-left img {
    width: 90%;
  }
  #home .selfIntro .selfIntro-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 90%;
  }
  #home .selfIntro .selfIntro-right .aboutMe-title {
    font-size: 2em;
  }
  #home .hobby {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    margin-top: 3em;
    width: 100%;
  }
  #home .hobby .hobby-title {
    align-self: flex-start;
    margin-left: 5%;
    font-size: 2em;
  }
  #home .hobby .photo-card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #home .hobby .photo-card .photo {
    font-size: 1.5em;
  }
  #home .hobby .photo-card img {
    width: 100%;
  }
  #home .hobby .music-card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #home .hobby .music-card .music {
    align-self: flex-end;
    font-size: 1.5em;
  }
  #home .hobby .music-card img {
    width: 100%;
  }
  #home .hobby .music-card .statement {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  #home .hobby .game-card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #home .hobby .game-card .game {
    font-size: 1.5em;
  }
  #home .hobby .game-card .img {
    width: 100%;
  }
}

@media (min-width: 64rem) {
  #home .greeting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    flex-wrap: wrap;
    gap: 3%;
  }
  #home .greeting .greeting-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.75em;
    width: 42%;
    font-weight: bold;
  }
  #home .greeting .greeting-left .greet {
    font-size: 2rem;
  }
  #home .greeting .greeting-left .myName {
    font-size: 3.5rem;
  }
  #home .greeting .greeting-left .post {
    font-size: 1.75rem;
    color: #3d3d3d;
  }
  #home .greeting .greeting-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 42%;
    background-color: tomato;
  }
  #home .greeting .greeting-right img {
    width: 100%;
  }
  #home .selfIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    gap: 2%;
  }
  #home .selfIntro .selfIntro-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
  }
  #home .selfIntro .selfIntro-left img {
    width: 100%;
  }
  #home .selfIntro .selfIntro-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 42%;
  }
  #home .selfIntro .selfIntro-right .aboutMe-title {
    font-size: 2em;
  }
  #home .hobby {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    justify-content: center;
    align-items: center;
    grid-column-gap: 2%;
    grid-row-gap: 1.25em;
    margin: 0 auto;
    margin-top: 5em;
    width: 86%;
  }
  #home .hobby .hobby-title {
    grid-column: span 3;
    font-size: 2em;
  }
  #home .hobby .photo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    aspect-ratio: 1/1.25; /* 宽高比 */
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  #home .hobby .photo-card:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  #home .hobby .photo-card .photo {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  #home .hobby .photo-card img {
    width: 100%;
  }
  #home .hobby .photo-card .statement {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
  #home .hobby .music-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    aspect-ratio: 1/1.25;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  #home .hobby .music-card:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  #home .hobby .music-card .music {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  #home .hobby .music-card img {
    width: 100%;
  }
  #home .hobby .music-card .statement {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  #home .hobby .game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    aspect-ratio: 1/1.25;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  #home .hobby .game-card:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  #home .hobby .game-card .game {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  #home .hobby .game-card .img {
    width: 100%;
  }
}

/* resume样式 */
#resume {
  width: 100%;
}
#resume .section-wrapper {
  width: 100%;
}
/* 移动端resume样式 */
@media (max-width: 47.999em) {
  .education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .education .title {
    font-weight: bold;
  }
  .education .edu-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .education .school {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .education .school .info {
    font-size: 1.2rem;
  }
  .education .school .time {
    margin-top: 0.15rem;
  }
  .education .course {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  .education .course .list {
    align-self: center;
  }
  .education .thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  .education .thesis .thesis-content {
    text-align: center;
  }
  .skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;
  }
  .skill .skill-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .skill .skill-section {
    width: 100%;
  }
  .skill .skill-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    list-style: none;
  }
  .skill .skill-list .skill-item {
    margin: 0 auto;
    width: 80%;
  }
  .skill .skill-item .skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  .skill .skill-item .skill-info .message {
    display: none;
  }
  .skill .skill-item .skill-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  .skill .skill-other {
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .skill .skill-other .title {
    align-self: flex-start;
    font-weight: bold;
  }
  .honor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  .honor .honor-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .honor .honor-list {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .honor .honor-list .honor-item .time {
    font-size: 0.8rem;
  }
}
/* pad端resume样式 */
@media (min-width: 48em) and (max-width: 63.999em) {
  .education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    height: auto;
  }
  .education .title {
    font-weight: bold;
  }
  .education .edu-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .education .school {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .education .school .info {
    font-size: 1.2rem;
  }
  .education .school .time {
    margin-top: 0.15rem;
  }
  .education .course {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  .education .course .list {
    align-self: center;
  }
  .education .thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    height: auto;
  }
  .education .thesis .thesis-content {
    text-align: center;
    height: auto;
    width: 100%;
  }
  .skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;
  }
  .skill .skill-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .skill .skill-section {
    width: 100%;
  }
  .skill .skill-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    list-style: none;
  }
  .skill .skill-list .skill-item {
    margin: 0 auto;
    width: 80%;
  }
  .skill .skill-item .skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  .skill .skill-item .skill-info .message {
    display: none;
  }
  .skill .skill-item .skill-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  .skill .skill-other {
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .skill .skill-other .title {
    align-self: flex-start;
    font-weight: bold;
  }
  .honor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  .honor .honor-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .honor .honor-list {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .honor .honor-list .honor-item .time {
    font-size: 0.8rem;
  }
}
@media (min-width: 64em) {
  #resume .section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .education {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    height: auto;
  }
  .education .title {
    font-weight: bold;
  }
  .education .edu-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .education .school {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .education .school .info {
    font-size: 1.2rem;
  }
  .education .school .time {
    margin-top: 0.15rem;
  }
  .education .course {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  .education .course .list {
    align-self: center;
  }
  .education .thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    height: auto;
  }
  .education .thesis .thesis-content {
    align-self: center;
    height: auto;
    width: auto;
  }
  .skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;
  }
  .skill .skill-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .skill .skill-section {
    width: 100%;
  }
  .skill .skill-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    list-style: none;
  }
  .skill .skill-list .skill-item {
    margin: 0 auto;
    width: 80%;
  }
  .skill .skill-item .skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  .skill .skill-item .skill-info .message {
    display: none;
  }
  .skill .skill-item .skill-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  .skill .skill-other {
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .skill .skill-other .title {
    align-self: flex-start;
    font-weight: bold;
  }
  .honor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  .honor .honor-title {
    align-self: flex-start;
    font-size: 2rem;
  }
  .honor .honor-list {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .honor .honor-list .honor-item .time {
    font-size: 0.8rem;
  }
}
